<p>This is where foursquare search integration will go</p>

 <form class="form-inline" role="form">
         <div class="form-group">
            <label for="nearby">Location:</label>
            <input class="form-control" type="text" data-ng-model="nearby" placeholder="location" />
         </div>
		<div class="form-group">
			<label for="query">Category:</label>
			<input class="form-control" type="text" data-ng-model="query" placeholder="category" />
        </div>
		<div class="form-group">
                <button class="btn btn-default" data-ng-click="search()">Search</button>
		</div>
</form>

<div data-ng-show="totalRecordsCount == 0">
	   <strong>No Places found Near by ({{nearby}})</strong>
</div>

<div data-ng-show="totalRecordsCount > 0">
	<div class="panel panel-default">
	  <div class="panel-heading">Showing the {{totalRecordsCount}} most popular results for {{nearby}} {{query}}</div>
	  <div class="panel-body">
	  	<ul class="list-group" data-ng-repeat="item in places">
				<li class="list-group-item">{{item.venue.name}}<br/>
											{{item.venue.categories[0].shortName}}<br/>
											{{item.venue.location.address}}<br/>
											{{item.venue.location.postalCode}}
				</li>
	  	</ul>
	  </div>
	</div>

</div>